Source: openmediavault-dcm4chee
Section: Science
XB-Plugin-Section: multimedia
Priority: optional
Maintainer: Nicolas Roduit <nicolas.roduit@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 4.0.1

Package: openmediavault-dcm4chee
Architecture: all
Depends: openmediavault (>=4.0), postgresql (>=9)
Description: dcm4chee is a medical Image Manager/Image Archive (according to IHE). The application contains the DICOM, HL7 services and interfaces that are required to provide storage, retrieval, and workflow to a healthcare environment. This package also provides the clinical web viewer Weasis.
